.stafffooter {
margin-top:150px;
background-color:#141414;
border-top:1px solid #404040;
padding:10px;
}

.stafffooter-dev {
text-align:center;
}

#db-check-consistency #status-success {
color:#1EFF00;
}

#db-check-consistency #status-errors,#db-check-consistency #status-failed {
color:red;
}

#db-check-consistency #status-progress {
color:#FFF468;
}

#db-check-consistency #status-progress span {
background:url(http://static.wowhead.com/images/ajax-1-16.gif) no-repeat right center;
padding-right:18px;
}

#db-check-consistency fieldset {
width:80%;
margin-bottom:1em;
border:1px #CCC solid;
padding:.35em 1.1em .75em .625em;
}

#db-check-consistency fieldset legend {
border:medium none;
float:none;
height:auto;
padding-left:2px;
padding-right:2px;
position:static;
white-space:nowrap;
font-size:120%;
font-weight:700;
color:#FFF;
}

#db-check-consistency textarea {
width:100%;
}

